

  body{
    margin:30px;
    font-family: "serif";
  }

  #navbar_content {
    color:#0bada6;
    font-size:20px;
    margin:10px;
  }
  #navbarDropdown{
    color:#0bada6;
    font-size:20px;
    margin:10px;
  }

  .h2{
    margin-top:20px;
    
  }
  .project{
    color:#0bada6;
    margin-left:10px;
  }
 
  .card{
    width:350px;
    height:450px;
    display:inline-block;
    margin-left:20px;
    margin-top:50px;
  }

  #bio_image{
    float: left;
    width:70%;
  }

  #portfolio{
    margin-top:50px;
    margin-left:20px;
    

  }

