

  body{
    margin:30px;
    font-family: "serif";
    background-color:#FFFFFF;
  }


  #navbar_content {
    color:#FFFFFF;
    font-size:20px;
    margin:10px;
  }
  #navbarDropdown{
    color:#FFFFFF;
    font-size:20px;
    margin:10px;
  }

  #Menu{
    background-color:#0bada6 !important;
  }

  .h2{
    margin-top:20px;
    
  }
  .project{
    color:#0bada6;
    margin-left:10px;
  }
 
  .card{
    width:350px;
    height:450px;
    display:inline-block;
    margin-left:20px;
    margin-top:50px;
  }

  #bio_image{
    float: left;
    width:70%;
  }

  #portfolio{
    margin-top:40px;
    margin-left:10px;
    padding-left:20px;
  }

  
  .e_box{
    margin:20px;
    background-color:#FFFAFA;

    }


  .e_image{
    float: left;
    width:20%;
  }

  .education_box{
    margin:30px;
    padding:20px;
  }

.e_content{
  margin-left:20px;
  padding-left:250px;
  font-family: "serif";
}


@media (max-width: 990px) {
  .navbar-expand-lg { 
    background-color: #0bada6 !important;
  }
  .navbar {
      max-height: none;
      padding: inherit;
    }
  
    .navbar-brand {
      padding: 10px;
    }
  .navbar div {
      margin: inherit;
      background-color: #0bada6;
    }
    button{
      margin-right: 30px;
    }
    .navbar-light .navbar-toggler {
      color: white;
      border-color: white;
      background-color: white;
    }
  
  }
